<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mandelbrot &larr; charliesomerville.com</title>
<link href="style.css" rel="stylesheet" />
</head>

<body>
	<div class="backlink"><a href="http://charliesomerville.com/">&larr; charliesomerville.com</a></div>
	<div class="ui">
    	<div class="viewport"></div>
        <div class="toolbar">
        	<a href="#" class="zoomout">Zoom Out</a>
        </div>
    </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="script.js"></script>
</html>